// 图片
.ct_img{
  vertical-align:top; // 清除底部留白
}

// 去除 Button 按钮默认样式
.ct_button{
  display: inline-block;
  line-height: normal;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  text-align: start;
  color: inherit;
}
.ct_button::after{
  display: none;
  border: none;
}